<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <script>
        window.onload = function () { window.print(); }
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: white;
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            font-size: 12px;
        }

        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        h1 {
            font-size: 1.4rem;
        }

        h2 {
            font-size: 1.1rem;
        }

        .dato {
            font-weight: bold;
        }
    </style>
</head>
<body class="border border-dark">
    <div class="p-3">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>